.head-nav-bar{
    /* background-color: #33b5e5; */
    background-color: #00E5FF;
    height: 60px;
    box-shadow: 1px 1px 6px #6b6c6c;
}
.role-selection{
    width: 100%;
    height: 5vh;
}
.main-button{
    border-radius: 15px;
    margin: 10px;
    width: 10vw;
    border: none;
    box-shadow: 1px 1px 6px gray;
}
.main-outer-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-box{
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}
.main-options{
    display: flex;
}
.main-option{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 5vw 7vw;
}
.main-image{
    width: 38vw;
    height: 30vw;
    /* border: 1px solid grey; */
    margin-top: 5vh;
    border-radius: 20px;
    background-image: url(pngwing.com.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-box{
    width: 45vw;
    border: 1px solid grey;
    margin-top: 5vh;
    border-radius: 20px;
    padding: 3vw;
    /* background-color: #2c4047; */
    background-color: #263238;
}
.form-input{
    margin: 4vh 0px;
    background-color: white;
}
.form-input-fname{
    margin-right: 1vw;
    background-color: white;
}
.form-input-lname{
    margin-left: 1vw;
    background-color: white;
}
.btn-signup{
    background-color: white;
    margin: 4vh;
}
.name-input{
    display: flex;
}
.other-option{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 4vh;
}

