{% extends "base.html"%}
{% block content%}
<div class="main-outer-box"> 
    <div class="main-image">
        <img>
    </div>
<div class="main-box">
    <div class="main-options">
        <div class="main-option">
            <label><h6>New User?</h6></label>
            <button class="btn-info btn-lg main-button"><a href="{% url 'signup' %}" style="text-decoration: none; color: black;"><b>Sign up</b></a></button>
        </div>
        <div class="main-option">
            <label><h6>Account already exists?</h6></label>
            <button class="btn-info btn-lg main-button"><a href="{% url 'login' %}" style="text-decoration: none; color: black;"><b>Log in</b></a></button>
        </div>
    </div>
</div>
</div>
{% endblock content %}