{% extends "base.html"%}
{% block content%}
<div class="main-outer-box"> 
    <h3 class="mt-5">Assignments</h3>
    {%for assignment in assignments%}
    <a href="../{{assignment.id}}/submissions" style="text-decoration: none;">
    <div class="form-control" style="width:50vw; margin: 2vh 0px;">{{assignment.title}}</div>
    </a>
    {%endfor%}
   
    
    <div class="form-box">
        
        <h3 class="text-center" style="color: white; margin-bottom: 4vh;">ADD NEW ASSIGNMENT</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.title}}
            {{form.instruction}}
            {{form.question}}
            
            {{form.maxmarks}}
            <label>
                <h6 style="color: white; margin: 0px;">Set due date for submission</h6>
            </label>
            {{form.deadline}}
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn-info btn-lg main-button">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}