{% extends "base.html"%}
{% block content %}
<div class="main-outer-box"> 
    <div class="form-box">
        <h3 class="text-center" style="color: white; margin-bottom: 4vh;">CREATE AN ACCOUNT</h3>
        <form method="post">
            {%csrf_token%}
            <div class="name-input">
                {{form.first_name}}
                {{form.last_name}}
            </div>
            {{form.username}}
            {{form.email}}
            {{form.password}}
            
           
            
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn-info btn-lg main-button">Sign up</button>
            </div>
        </form>
        <div class="other-option">
            <label><h6 style="color: white;">Account already exists?</h6></label>
            <button class="btn btn-signup" style="margin: 0px;"><a href="{% url 'login' %}" style="text-decoration: none; color: black;"><b>Log in</b></a></button>
        </div>
    </div>
</div>
{% endblock %}