{% extends "base.html"%}
{% block content%}
<div class="main-outer-box"> 
    <h3 class="mt-5">Assignment Submission</h3>

    <div class="form-control" style="width:70vw; margin: 1vh 0px;box-shadow: 0.5px 0.5px 4px gray;">
        <div style="display: flex; justify-content: space-between;">
            <div><b>{{assignment.title}}</b></div>
            <div>Due date</div>
        </div>
        <div style="margin: 2vh 0px;">
            <div class="form-control"><b>{{assignment.instruction}}</b></div>
            <a href="{{assignment.question.url}}" style="text-decoration: none;"><div class="form-control" style="width:20vw; margin: 2vh 0px;">Download Assignment file</div></a>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 2vh;">
            <form style="display: flex;" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.name}}
                {{form.answer}}
                <button class="btn btn-info" type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>
{% endblock content %}